<!DOCTYPE html>
<html>
    <head>
        <title>Conekta</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top">

        <div class="container-fluid">
            <div class="navbar-header" >
                <a class="navbar-brand" href="/">Conekta</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">                  
                    <li><svg role="img" viewBox="0 0 32px 32px" height="32px" width="32px" xmlns="http://www.w3.org/2000/svg"><title>Conekta icon</title><path d="M8.25 19.502L2.7 12l5.55-7.5 3.45 4.65L9.447 12l2.25 3-3.45 4.502z"/><path d="M12.45 24l8.85-12-8.85-12h-6.9l9 12-9 12h6.9z"/></svg>
</li>
                </ul>
            </div>
        </div>
    </nav>