<% include partials/header %>
<div class="container">
   <div class="row">
      <h1 style="text-align:center">Tu orden se ha enviado correctamente</h1>
      <div style="width:30%; margin: 25px auto">
          <a href="/" class="btn btn-lg btn-default btn-block btn-primary">Go HOME</a>
      </div>
   </div>
</div>

<% include partials/footer %>